<div class="tag">
    <%= button_to "<span></span>".html_safe, ticket_remove_tag_path(ticket, tag), method: :delete, data: { turbo_method: :delete }, remote: true, class: "remove", title: "Remove tag" %>
    <%= tag.name %>
</div>